.special-text {
	font-weight: bold;
}
.comment {
	border-style: solid;
	padding: 10px;
	margin: 10px;
}

/* For editing */

.editor {
	border-color: #00CC22;
	border-style: solid;
	padding: 10px;
	margin: 10px;
}

input {
    box-sizing : border-box;
	width: 100%;
}

textarea {
	box-sizing: border-box;
	width: 100%;
}

img {
    width: 7rem;
    max-width: 7rem;
}
